*
{
padding: 0;
margin: 0;
    box-sizing: border-box;
}
body
{background-image: url(Wall.jpeg);

    font-family: sans-serif;
}
.menu-bar
{
    background: rgb(0,0,0.5);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover
{
    background: Gray;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin: 8px;
}
.sub-menu1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu1
{
    display: block;
    position: absolute;
    background: rgb(0,1,0);
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li {
width: 150px;
    padding: 10px;
    border-bottom: 1px dottod #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
    color: goldenrod;
}
.fa fa-angle-right
{
    float: right;
}
.sub-menu2
{
    display: NONE;
}
.hover-me:hover .sub-menu2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: black;
}
.text{
    width: 100%;
    margin-top: 150px; 
    text-transform: uppercase;
    text-align: center;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
}
.texth4{
    font-size: 72px;
       font-family: 'Montserrat', sans-serif;
    color: aqua;
    }

.texth1{
    font-size: 500px;
       font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    margin: 200px;
}
#buttonone{
    background-color: red;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
     font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    border: 3px Red;
}
iframe {
    margin-top: -300px;
}
